<h1 class="text-gray-800 text-3xl font-semibold text-center p-5">BOOK MANAGER</h1>

<div class="flex justify-center">
  <button (click)="ReturntoForm()"  class=" text-2xl  mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3 w-72"> Return To Form </button>
</div>


<div class="flex flex-wrap justify-center gap-5 ">

    <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20" *ngFor=" let book of books$ | async ">
      <div>
        <h2 class="text-gray-800 text-3xl font-semibold">{{book.title}}</h2>
        <p class="mt-2 text-gray-600">{{book.description}}</p>
      </div>
      <div class="flex justify-end mt-4">
        <a href="#" class="text-xl font-medium text-indigo-500">Schedule Club Session - #Id: {{book.id}} </a>
      </div>
    </div>

   <!--  <div class="first">
        <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
            <div>
              <h2 class="text-gray-800 text-3xl font-semibold">Book Title</h2>
              <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
            </div>
            <div class="flex justify-end mt-4">
              <a href="#" class="text-xl font-medium text-indigo-500">Schedule Club Session</a>
            </div>
          </div>

          <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
            <div>
              <h2 class="text-gray-800 text-3xl font-semibold">Book Title</h2>
              <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
            </div>
            <div class="flex justify-end mt-4">
              <a href="#" class="text-xl font-medium text-indigo-500">Schedule Club Session</a>
            </div>
          </div>
        
          <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
            <div>
              <h2 class="text-gray-800 text-3xl font-semibold">Book Title</h2>
              <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
            </div>
            <div class="flex justify-end mt-4">
              <a href="#" class="text-xl font-medium text-indigo-500">Schedule Club Session</a>
            </div>
          </div>
    </div>

    <div class="second">
        <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
            <div>
              <h2 class="text-gray-800 text-3xl font-semibold">Book Title</h2>
              <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
            </div>
            <div class="flex justify-end mt-4">
              <a href="#" class="text-xl font-medium text-indigo-500">Schedule Club Session</a>
            </div>
          </div>
        
          <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
            <div>
              <h2 class="text-gray-800 text-3xl font-semibold">Book Title</h2>
              <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
            </div>
            <div class="flex justify-end mt-4">
              <a href="#" class="text-xl font-medium text-indigo-500">Schedule Club Session</a>
            </div>
          </div>
        
          <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
            <div>
              <h2 class="text-gray-800 text-3xl font-semibold">Book Title</h2>
              <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae dolores deserunt ea doloremque natus error, rerum quas odio quaerat nam ex commodi hic, suscipit in a veritatis pariatur minus consequuntur!</p>
            </div>
            <div class="flex justify-end mt-4">
              <a href="#" class="text-xl font-medium text-indigo-500">Schedule Club Session</a>
            </div>
          </div> -->
    </div>

  








    
    
   
