<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/c151b27f34.js" crossorigin="anonymous"></script>
        
        
        <title>Master</title>


    </head>
    <body>
        <h1 class="text-4xl text-gray-900 font-semibold text-center p-5"> FORM </h1>
        <main class="flex justify-center">
              <!-- <form [formGroup] = "form" class="form bg-white p-6 my-10 relative md:w-1/3 flex flex-col gap-5" (ngSubmit)="send()"> -->
              <form [formGroup] = "form" class="form bg-white p-6 my-10 relative md:w-1/3 flex flex-col gap-5" >
                  <h3 class="text-3xl text-gray-900 font-semibold">Add Book</h3>
                  <div class="flex space-x-5 mt-3">
                      <input 
                      class="form-control"
                      type="number" 
                      name="id" 
                      id="" 
                      placeholder="id" 
                      class="text-xl border p-2  w-14" 
                      formControlName="id">
                      <div *ngIf=" form.controls['id'].invalid && (form.controls['id'].dirty || form.controls['id'].touched) "class="alert"> 
                        
                        <div  class=" text-red-700 text-xl"  *ngIf= "shouldMessage('id', 'required')">
                          Id is required.
                        </div>
                        <div  class=" text-red-700 text-xl" *ngIf="form.get('id')?.hasError('maxlength')">
                          Id must be at least 3 numbers long
                        </div>
                      </div>

                      <input 
                      type="tel" 
                      name="title" 
                      id="" 
                      placeholder="title" 
                      class=" text-xl border p-2 w-11/12" 
                      formControlName="title" >

                      <div *ngIf=" form.controls['title'].invalid && (form.controls['title'].dirty || form.controls['title'].touched) "class=" "> 
                        <div  class=" text-red-700 text-xl"*ngIf="form.controls['title'].errors">
                          Title is required.
                        </div>
                      </div>

                    </div>
                    <textarea 
                    name="description" 
                    id="" 
                    cols="10" 
                    rows="3" 
                    placeholder="description" 
                    class=" text-xl border p-2 mt-3 w-full" 
                    formControlName="description">
                    </textarea>

                    <div *ngIf=" form.controls['description'].invalid && (form.controls['description'].dirty || form.controls['description'].touched) "class=" "> 
                      <div  class=" text-red-700 text-xl"*ngIf="form.controls['description'].errors">
                        Description is required.
                      </div>
                    </div>
                   <div class="flex space-x-5 mt-3">
                      <input 
                      type="text" 
                      name="pagesNumber" 
                      id="" 
                      placeholder="# pages" 
                      class=" text-xl border p-2  w-1/2" 
                      formControlName="pagesNumber">

                      <div *ngIf=" form.controls['pagesNumber'].invalid && (form.controls['pagesNumber'].dirty || form.controls['pagesNumber'].touched) "class=" "> 
                        <div  class=" text-red-700 text-xl"*ngIf="form.controls['pagesNumber'].errors">
                          This field is required.
                        </div>
                      </div>

                      <input 
                      class="form-control"
                      type="number" 
                      name="Year" 
                      id="" 
                      placeholder="Year" 
                      class=" text-xl border p-2 w-1/2" 
                      formControlName="Year">

                      <div *ngIf=" form.controls['Year'].invalid && (form.controls['Year'].dirty || form.controls['Year'].touched) "class=" "> 
                        <div  class=" text-red-700 text-xl"*ngIf="form.controls['Year'].errors">
                          This field is required.
                        </div>
                      </div>
                    </div>
                  <input (click)="send()"  type="submit" value="Create"  class=" text-2xl w-full mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3">
                  <input (click)="reset()"  type="submit" value="Reset"  class=" text-2xl w-full mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3">
              </form>
        </main>
        <!-- <pre *ngIf="isDevMode"> {{form.value | json}} </pre> -->
    </body>
</html>



